<nav
        class="navbar sticky-top navbar-expand-lg navbar-light bg-light mr-auto"
        id="main-nav"
>
    <div class="container">
        <!-- <a class="navbar-brand" href="index.html">
            <img
                    class="logo" src=""
                    height="auto"
            width="180px"
            />
        </a> -->
        
        <button
                class="navbar-toggler"
                type="button"
                data-toggle="collapse"
                data-target="#navbarNav"
                aria-controls="navbarNav"
                aria-expanded="false"
                aria-label="Toggle navigation"
        >
            <span class="navbar-toggler-icon"></span>
        </button>
        <div
                class="collapse navbar-collapse text-right flex-grow-1"
                id="navbarNav"
        >
            <ul class="navbar-nav ml-auto">
              
                <li class="nav-item dropdown  ">
                    <a class="nav-link " href="index.html"
                      
                      >Home</a>
                    <div class="dropdown-menu" aria-labelledby="navbarDropdown1">
                      
                    </div>
                </li>
                
                <li class="nav-item dropdown  ">
                    <a class="nav-link " href="dates.html"
                      
                      >Dates</a>
                    <div class="dropdown-menu" aria-labelledby="navbarDropdown2">
                      
                    </div>
                </li>
                
                <li class="nav-item dropdown  ">
                    <a class="nav-link dropdown-toggle" href="#"
                      
                      id="navbarDropdown3" role="button" data-toggle="dropdown"
                      
                      >Calls</a>
                    <div class="dropdown-menu" aria-labelledby="navbarDropdown3">
                      
                      <a class="dropdown-item" href="cfp.html">Call for Papers</a>
                      
                      <a class="dropdown-item" href="cfw.html">Call for Symposiums</a>
                      
                    </div>
                </li>
                
                <li class="nav-item dropdown  ">
                    <a class="nav-link dropdown-toggle" href="#"
                      
                      id="navbarDropdown4" role="button" data-toggle="dropdown"
                      
                      >Guides</a>
                    <div class="dropdown-menu" aria-labelledby="navbarDropdown4">
                      
                      <a class="dropdown-item" href="CoC.html">Code of Conduct</a>
                      
                      <a class="dropdown-item" href="CoE.html">Code of Ethics</a>
                      
                      <a class="dropdown-item" href="ReviewGuide.html">Review Guidelines</a>
                      
                      <a class="dropdown-item" href="ac-guidelines.html">AC Guidelines</a>
                      
                      <a class="dropdown-item" href="AuthorGuide.html">Author Guide</a>
                      
                      <a class="dropdown-item" href="coi-policy.html">COI Policy</a>
                      
                    </div>
                </li>
                <li class="nav-item dropdown  ">
                  <a class="nav-link dropdown-toggle" href="#"
                    
                    id="navbarDropdown4" role="button" data-toggle="dropdown"
                    
                    >Organization</a>
                  <div class="dropdown-menu" aria-labelledby="navbarDropdown4">
                    
                    <a class="dropdown-item" href="young_committee.html">Organizing Committee</a>
                    <a class="dropdown-item" href="steering_committee.html">Steering Committee</a>
                    <a class="dropdown-item" href="board.html">Advisory Board</a>
                    
                  </div>
              </li>
              
                <!-- <li class="nav-item dropdown  ">
                    <a class="nav-link " href="board.html"
                      
                      >Organization</a>
                    <div class="dropdown-menu" aria-labelledby="navbarDropdown5">
                      
                    </div>
                </li> -->
                
            </ul>
        </div>
    </div>
</nav>
